--extra-index-url https://pkgs.dev.azure.com/azure-sdk/public/_packaging/azure-sdk-for-python/pypi/simple/

azure-identity==1.25.2
azure-search-documents==12.1.0a20260520003
azure-storage-file-datalake==12.23.0
ipykernel==7.2.0
python-dotenv==1.2.2
